
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customers Service</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="partial/header :: nav"></th:block>
<div class="container">
    <h1>Customers Service</h1>
    <hr>
    <h2>Update Customer</h2>

    <form action="#" th:action="@{/saveCustomer}" th:object="${customer}"
          method="POST">

        <input type="hidden" th:field="*{id}" />


        <input type="text" th:field="*{firstName}"
               placeholder="First Name" class="form-control mb-4 col-4">


        <input type="text" th:field="*{lastName}"
               placeholder="Last Name" class="form-control mb-4 col-4">


        <input type="date" th:field="*{birthDay}"
               placeholder="Birth Day" class="form-control mb-4 col-4">

        <input type="text" th:field="*{idCode}"
               placeholder="INN" class="form-control mb-4 col-4">

        <select class="form-control mb-4 col-4" th:type="text" th:field="*{familyStatus}">
            <option th:value="default" label="Family Status"/>
            <option th:value="single" label="Single"/>
            <option th:value="married" label="Married"/>
        </select>

        <input type="text" th:field="*{education}"
               placeholder="Education" class="form-control mb-4 col-4">

        <select class="form-control mb-4 col-4" th:type="text" th:field="*{priority}">
            <option th:value="default" label="Priority"/>
            <option th:value="VIP" label="VIP"/>
            <option th:value="NORMAL" label="NORMAL"/>
        </select>

        <input type="text" th:field="*{groupName}"
               placeholder="Name of group" class="form-control mb-4 col-4">

        <input type="text" th:field="*{group}"
               placeholder="Family group" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Customer</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Back to Customers List</a>
</div>

<th:block th:replace="partial/footer :: footer"></th:block>

</body>
</html>